/*Hoja de estilos del documento*/
body{
    background-color:#E9F5E3;
    font-family:"Cousine";
    font-size: 120%;
    color:#6d2a00; 
}

header{
    background-color: #78ae62;
    font-size:1.5rem;
    
}

h1{
    font-size: 4rem;
    font-family: "Dancing Script";
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
footer{
    background-color: #78ae62;
    text-align: center;
    padding: 5px;
}

li{ 
    background-color: #6d2a00;
    padding: 10px;
    border-radius: 25px;
}

h3{
    font: size 3rem;
}

h2{
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

.imagenIndex{
    width:15%;
    float: left;
}
.columna{
    display:flex;
    flex-direction: row;

}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro{
    width: 15%;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    margin:25px;
    border-style: solid;
    border:2px#78ae62;
    
}

.bloque{
    display: flex;
    flex-direction: column;
}

.imagenAve{
    width: 15%;
}

.linea{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

.colorNav{
    color:#78ae62;
}

.petirrojo{
    width: 25%;
    float: left;
}

#anchoAside{
    width: 200px;
}


